
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
} 


/* key= "AIzaSyDHxa2p7mJzDaPOsKqg4AAHQUUaY8lDsFA" */


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
